body {
  font-family: "Mulish", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(125deg, #ffcdcd 30%, #ffffff, #d1d3eb 80%);
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* Get Started Page */
.welcome,
.register {
  display: flex;
  align-items: center;
  position: relative;
  top: 50vh;
  left: 50vw;
  background-color: rgb(245 247 255);
  width: fit-content;
  padding: 60px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.details {
  margin-left: 60px;
  width: 330px;
}

.details h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 56px;
  margin-bottom: 30px;
}

p {
  font-size: 18px;
}

.welcome .image {
  background-image: url(../imgs/welcome-web.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 315px;
}

.welcome .image img {
  display: none;
}

.start {
  background-image: linear-gradient(113.87deg, #2663df 14.81%, #758ff0 88.76%);
  color: white;
  height: 60px;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 40px;
}

@media (max-width: 960px) {
  .welcome,
  .register {
    flex-direction: column;
    max-width: calc(100vw - 20px);
    padding: 40px 30px;
  }
  .welcome .image {
    background-image: none;
    width: 100%;
    margin-bottom: 55px;
  }
  .welcome .image img {
    display: block;
    width: 100%;
  }
  .details {
    margin: 0;
    text-align: center;
  }
  .details h1 {
    font-size: 40px;
  }
  .details p {
    font-size: 18px;
  }
}
/* Get Started Page */
/* =================================================================== */
/* Register Page */
.register {
  transform: translate(-50%, -50%) scale(0.9);
}

.register h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.register .details > p {
  margin-bottom: 20px;
}

.data i {
  color: #9cadf2;
  position: absolute;
  left: 13px;
  padding-right: 10px;
  border-right: 1px solid #9cadf2;
}

.data .input:nth-of-type(n + 3) i {
  font-weight: 600;
}

.data .input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.data input {
  height: 60px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 50px;
  background-color: white;
  transition: 0.3s;
}

.data input:focus {
  outline: 1px solid #aaa;
}

.data p {
  position: absolute;
  z-index: -1;
  bottom: 0;
  font-size: 14px;
  color: transparent;
  left: 40px;
  transition: 0.3s;
}

@media (max-width: 960px) {
  .register {
    flex-direction: column;
    max-width: calc(100vw - 20px);
    padding: 40px 30px;
    top: 10px;
    left: 0;
    margin: 0 auto 20px;
    transform: none;
  }
  .register .image {
    margin-bottom: 55px;
  }
  .register .image img {
    width: 100%;
  }
  .details {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .details h1 {
    font-size: 40px;
  }
  .register .details > p {
    font-size: 18px;
    margin: 16px 0 40px;
  }
}

button.start {
  border: none;
  width: 100%;
  cursor: pointer;
}
/* Register Page */
/* =================================================================== */
/* Logged-In Page */
.logged-in {
  display: flex;
  align-items: center;
  position: relative;
  top: 50vh;
  left: 50vw;
  background-color: rgb(245 247 255);
  width: fit-content;
  padding: 60px;
  transform: translate(-50%, -50%) scale(0.9);
  border-radius: 10px;
}

.success-log {
  width: 450px;
  height: 315px;
}

.success-log img {
  width: 100%;
  height: 315px;
}

.success-details {
  margin-left: 60px;
  width: 330px;
}

.success-details :nth-child(n) {
  max-width: 100%;
}

.logged-in h1 {
  font-size: 29px;
  margin-bottom: 30px;
}

.logged-in p {
  text-decoration: underline;
  font-size: 20px;
}

@media (max-width: 867px) {
  .logged-in {
    flex-direction: column;
    max-width: calc(100vw - 20px);
    min-height: calc(100vh - 20px);
    padding: 40px 30px;
    top: 10px;
    left: 0;
    margin: 0 auto 20px;
    transform: none;
  }
  .logged-in .success-log {
    margin-bottom: 160px;
    width: auto;
    height: auto;
  }
  .logged-in .success-log img {
    width: 100%;
  }
  .logged-in :nth-child(n) {
    max-width: 100%;
  }
  .success-details {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .details h1 {
    font-size: 40px;
  }
  .register .details > p {
    font-size: 18px;
    margin: 16px 0 40px;
  }
}
/* Logged-In Page */
